@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 30px;
    box-shadow: 0px 0px 10px 2px #ccc;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.container > h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
}

.container > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container > form > div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.container > form > div > input{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.container > form > div > label {
    font-size: 16px;
}

.container > form > .cta {
    display: grid;
    place-items: center;
    position: relative;
}

.container > form > .cta > button{
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 12px;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #f8f8f8;
    background-color: #005bff;
    border: none;
    outline: none;
    border-radius: 4px;
}

.container > form > .cta > button:hover {
    background-color: #196aff;
}

